
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="/style/img/artcar-logo.ico">
	
	<title>Selecione o serviço</title>

	<!-- Bootstrap core CSS -->
	<link href="/style/css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="/style/css/menu.css" rel="stylesheet">
</head>

<body>
	<div class="album">
		<div class="container">
			<h1 class="h3 mb-3 font-weight-normal" style="color: white;">Por favor selecione o serviço</h1>

			<div class="row" style="text-align: justify; margin-top: 5%">
				<div class="col-md-5">
					<div class="card mb-4 shadow-sm">
						<div class="card-body">
							<p class="card-text">Cadastro de Veículos</p>
							<div class="d-flex justify-content-between align-items-center">
								<div class="btn-group">
									<a class="btn btn-sm btn-outline-secondary" href="/wb-admin/form">Entar</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-5">
					<div class="card mb-4 shadow-sm">
						<div class="card-body">
							<p class="card-text">Lista de Veículos</p>
							<div class="d-flex justify-content-between align-items-center">
								<div class="btn-group">
									<a class="btn btn-sm btn-outline-secondary" href="/wb-admin/lista">Entar</a>
								</div>
							</div>
						</div>
					</div>
				</div>	
			</div>
			<p class="mt-5 mb-3 text-muted"  style="text-align: center;">&copy; 2018-2019</p>
		</div>
	</div>
</div>
</body>
</html>
