
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="/style/img/artcar-logo.ico">

	<title>Art Car Administrador</title>

	<!-- Bootstrap core CSS -->
	<link href="/style/css/bootstrap.min.css" rel="stylesheet">

	<!-- Estilo da pagina -->
	<link href="/style/css/signin.css" rel="stylesheet">
</head>

<body class="text-center">
	<form class="form-signin" action="/wb-admin" method="post">
		<img class="mb-4" src="/style/img/artcar-logo.png" alt="ArtCar" width="100" height="75">

		<h1 class="h3 mb-3 font-weight-normal" style="color: white;">Por favor acesse</h1>

		<label for="inputEmail" class="sr-only">Login</label>
		<input type="email" name="login" id="inputEmail" class="form-control" placeholder="Login" required autofocus>

		<label for="inputPassword" class="sr-only">Senha</label>
		<input type="password" name="senha" id="inputPassword" class="form-control" placeholder="Senha" required>

		<h3></h3>

		<button class="btn btn-lg btn-primary btn-block" type="submit">Acessar</button>
		<p class="mt-5 mb-3 text-muted">&copy; 2018-2019</p>
	</form>
</body>
</html>
